@use "variables" as *;

@font-face {
  font-family: "Diatype";
  font-weight: 700;
  src: url(/fonts/diatype-bold.woff2) format("woff2");
}

@font-face {
  font-family: "Diatype";
  font-weight: 500;
  src: url(/fonts/diatype-med.woff2) format("woff2");
}

@font-face {
  font-family: "Diatype";
  font-weight: 300;
  src: url(/fonts/diatype-reg.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: $font-mono;
  background-color: $dark-brown;
  color: $text-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
